<html>
    <head>
        <title>NIGEL'S meme website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="30;url=http://127.0.0.1:5000 /"/> 
        <style>
            body{ background-color :#000000; background-repeat: no-repeat; background-position: top left;}
            p{ text-align:center ; font-family: Arial, Helvetica, sans-serif; color: #ffffff; background-color: #000000;}
            h{ text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 48px; font-style: normal;}
        </style>
    </head>

    <body>
        <h1> website to gather memes </h1>

        <p> Here is your meme will refresh in 30 secs</p>
       <p><img src="{{meme_pic}}" alt=""> </p>
      <!--<p> Current Subreddit:{{Subreddit}}</p> --> 
    </body>
</html>